/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Overpass-Light.ttf);
}

@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/SofiaPro-Bold-Az.otf);
}

.wrapper-contact {
    @apply bg-white h-28 filter drop-shadow-contact flex justify-center items-center;
}
