@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Overpass-Light.ttf);
}

@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/SofiaPro-Bold-Az.otf);
}

* {
  font-family: 'Overpass', sans-serif;  
}

.wrapper-contact {
    @apply bg-white h-52 filter drop-shadow-contact flex justify-center items-center;
}

.label-form {
    @apply text-subtle font-sofia text-sm mb-3;
}

.focus-input {
    @apply focus:bg-white focus:ring-offset-primary-light focus:ring-primary-light focus:ring;
}

.cut-top{
  clip-path: polygon(0% 150px, 5% 150px, 5% 0%, 95% 0%, 95% 150px, 100% 150px, 100% 100%, 0 100%);
}

.full-screen--40 {
  height: calc(100vh + 10rem);
}